form {
    input {
        padding: 20px;
        border: none;
        border-radius: 5px;
        outline: none;
    }

    &.search {
        input {
            width: 100%;
            font-size: 14px;
        }
    }
}